
@{
    Layout = null;
}
@model UserConstitution

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>适合您的膳食指南</title>
</head>
<body>
    <img style="width:100%;max-width:540pt;margin:0 auto;display:block;" src="~/image/@Model.ModelRecipe" />
</body>
</html>
